@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Derek's Office Address<br />
    Tacoma Park, MD <br />
    <abbr title="Phone">P:</abbr>
    301.800.2000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h3>@ViewBag.TheMessage</h3>
<form method="post">

    <textarea name="="message">

    </textarea>

    <input type="submit" value="Send"/>

</form>